@import "tailwindcss";

/* In your global CSS file */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

